body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
  background: #fdfdfd;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

textarea{
  width: 100%;
  padding: 4px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea:disabled,
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #ccc !important;
  color: #666 !important;
  border: 1px solid #aaa !important;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover:enabled {
  background-color: #45a049;
}

:host {
  display: block;
  width: 300px;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fdfdfd;
  font-family: Arial, sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-left: 10px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

